@font-face {
  font-family: "iconfont"; /* Project id 4468810 */
  src: url('iconfont.woff2?t=1712806986632') format('woff2'),
       url('iconfont.woff?t=1712806986632') format('woff'),
       url('iconfont.ttf?t=1712806986632') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e608";
}

.icon-close:before {
  content: "\e6bf";
}

.icon-frame:before {
  content: "\e8df";
}

.icon-text:before {
  content: "\e623";
}

.icon-img:before {
  content: "\e602";
}

.icon-light:before {
  content: "\e6df";
}

.icon-dark:before {
  content: "\e8b1";
}

.icon-search-solid:before {
  content: "\e7a2";
}

.icon-search:before {
  content: "\e840";
}

.icon-tag:before {
  content: "\e751";
}

.icon-juejin:before {
  content: "\e60b";
}

.icon-wechat:before {
  content: "\e635";
}

.icon-github:before {
  content: "\e632";
}

